Repository devopsdays/devopsdays-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devopsdays/build-infra, @devopsdays/code-reviewers, @devopsdays/theme-maintainers

[ATX-2020] adding schedule
  content/events/2020-austin/schedule.md
  data/events/2020-austin.yml
Owners: none

[BER-2020] Add sharing_image for Berlin
  data/events/2020-berlin.yml
  static/events/2020-berlin/sharing/berlin.png
Owners: none

Add Masthead/Social image & Site24x7 as Sponsors
  data/events/2020-london.yml
  static/events/2020-london/sharing/twitter.png
Owners: none

it's not elasticsearch it's elastic
  data/events/2020-london.yml
Owners: none

Adding sponsor
  data/events/2020-minneapolis.yml
Owners: none

updated wyckoff bio
  data/events/2020-nashville.yml
Owners: none

[AMS-2020] Add linkit as silver
  data/events/2020-amsterdam.yml
Owners: none

Updating speaker photo
  content/events/2020-des-moines/speakers/mike-cole.md
  static/events/2020-des-moines/speakers/mike-cole.jpg
Owners: none

Updating organizer photos
  data/events/2020-des-moines.yml
  static/events/2020-des-moines/organizers/amy-lindberg.jpg
  static/events/2020-des-moines/organizers/bo-schatzberg.jpg
  static/events/2020-des-moines/organizers/ethan-spoelstra.jpg
  static/events/2020-des-moines/organizers/jessie-puls.png
  static/events/2020-des-moines/organizers/jodi-jones.jpg
  static/events/2020-des-moines/organizers/john-mickey.jpg
  static/events/2020-des-moines/organizers/john-sonneville.jpg
  static/events/2020-des-moines/organizers/tim-gifford.jpg
Owners: none

Remove Toronto 2020 from the schedule
  content/events/2020-toronto/sponsor.md
  content/events/2020-toronto/welcome.md
  data/events/2020-toronto.yml
Owners: none

[HOU-2020] Moved dates, updated program, added health statement and update to welcome page
  content/events/2020-houston/welcome.md
  data/events/2020-houston.yml
  static/events/2020-houston/dodh-health-and-safety-update.pdf
Owners: none

add cancellation notice
  content/events/2020-vancouver/welcome.md
  data/events/2020-vancouver.yml
Owners: none

remove influxdata from sponsor list
  data/events/2020-vancouver.yml
Owners: none

Postponing due to covid-19
  content/events/2020-portugal/welcome.md
  data/events/2020-portugal.yml
Owners: none

[Den-2020] Postponement announcement.
  content/events/2020-denver/postpone.md
  content/events/2020-denver/welcome.md
  data/events/2020-denver.yml
Owners: none

[Den-2020] Update wording on postponement notification
  content/events/2020-denver/postpone.md
Owners: none

add the rest of the 2019 organizers to 2020
  data/events/2020-washington-dc.yml
  static/events/2020-washington-dc/organizers/aaron-rinehart.jpg
  static/events/2020-washington-dc/organizers/david-hodge.jpg
  static/events/2020-washington-dc/organizers/dayton-williams.jpg
  static/events/2020-washington-dc/organizers/derek-daczewitz.jpg
  static/events/2020-washington-dc/organizers/greg-elin.jpg
  static/events/2020-washington-dc/organizers/holly-bazemore.jpg
  static/events/2020-washington-dc/organizers/jeff-gallimore.jpg
  static/events/2020-washington-dc/organizers/nathen-harvey.jpg
  static/events/2020-washington-dc/organizers/peter-burkholder.jpg
  static/events/2020-washington-dc/organizers/robb-kidd.jpg
  static/events/2020-washington-dc/organizers/robert-treat.jpg
  static/events/2020-washington-dc/organizers/shawn-wells.jpg
  static/events/2020-washington-dc/organizers/steve-ross.jpg
  static/events/2020-washington-dc/organizers/trevor-bryant.jpg
  static/events/2020-washington-dc/organizers/victoria-guido.jpg
Owners: none

Disable sponsor link
  data/events/2020-washington-dc.yml
Owners: none

generated Washington, D.C. 2020 event
  content/events/2020-washington-dc/conduct-fr.md
  content/events/2020-washington-dc/conduct-pt-br.md
  content/events/2020-washington-dc/conduct.md
  content/events/2020-washington-dc/contact.md
  content/events/2020-washington-dc/location.md
  content/events/2020-washington-dc/propose.md
  content/events/2020-washington-dc/registration.md
  content/events/2020-washington-dc/sponsor.md
  content/events/2020-washington-dc/welcome.md
  data/events/2020-washington-dc.yml
  static/_redirects
Owners: none

remove previous organizers who don't (yet?) have roles in 2020
  data/events/2020-washington-dc.yml
  static/events/2020-washington-dc/organizers/shawn-wells.jpg
  static/events/2020-washington-dc/organizers/steve-ross.jpg
Owners: none

Reschedule KRK 2020 event
  data/events/2020-krakow.yml
Owners: none

[VAN-2020] Remove dates - event cancelled
  data/events/2020-vancouver.yml
Owners: none

Use newer Hugo
  .circleci/config.yml
  appveyor.yml
  hugoserver.ps1
  hugoserver.sh
  metadata.json
  netlify.toml
Owners: @devopsdays/build-infra

Use newer Hugo (#9638)
  .circleci/config.yml
  appveyor.yml
  hugoserver.ps1
  hugoserver.sh
  metadata.json
  netlify.toml
Owners: @devopsdays/build-infra

is is a combination of 2 commits.
  content/events/2020-denver/postpone.md
Owners: none

DSM-2020: Add health statement
  content/events/2020-des-moines/sponsor.md
  content/events/2020-des-moines/welcome.md
  data/events/2020-des-moines.yml
  data/sponsors/dice.yml
Owners: none

[INDY-2020] Add Indy for 2020
  content/events/2020-indianapolis/conduct.md
  content/events/2020-indianapolis/contact.md
  content/events/2020-indianapolis/indiana_landmarks.png
  content/events/2020-indianapolis/location.md
  content/events/2020-indianapolis/propose.md
  content/events/2020-indianapolis/registration.md
  content/events/2020-indianapolis/sponsor.md
  content/events/2020-indianapolis/welcome.md
  data/events/2020-indianapolis.yml
  static/_redirects
  static/events/2020-indianapolis/logo-square.jpg
  static/events/2020-indianapolis/logo.png
  static/events/2020-indianapolis/organizers/andrew-poland.jpg
  static/events/2020-indianapolis/organizers/garrett-honeycutt.jpg
  static/events/2020-indianapolis/organizers/ike-jones.jpg
  static/events/2020-indianapolis/organizers/kenn-white.jpg
  static/events/2020-indianapolis/organizers/ralph-rodkey.jpg
Owners: none

[AMS-2020] Add Xebia as bronze sponsor
  data/events/2020-amsterdam.yml
Owners: none

[AMS-2020] Add Xebia as bronze sponsor (#9641)
  data/events/2020-amsterdam.yml
Owners: none

[LDN-2020] Remove sponsorship discount/Add Sponsor
  content/events/2020-london/sponsor.md
  data/events/2020-london.yml
Owners: none

[CHI-2020] Update Matt Stratton bio/employer
  data/events/2020-chicago.yml
Owners: none

fix the grammar
  data/events/2020-chicago.yml
Owners: none

even more grammar fixes
  data/events/2020-chicago.yml
Owners: none

Additional devopsdays Boise sponsors
  data/events/2020-boise.yml
  data/sponsors/intuit.yml
  static/img/sponsors/intuit.png
Owners: none

[MED-2020] Updating Sponsor/md to remove link
  content/events/2020-medellin/sponsor.md
Owners: none

[INDY-2020] Open CFP
  data/events/2020-indianapolis.yml
Owners: none

Package update and asset regenerate
  package-lock.json
  package.json
  themes/devopsdays-theme/static/css/site.css.map
  themes/devopsdays-theme/static/js/devopsdays-min.js.map
Owners: @devopsdays/build-infra, @devopsdays/theme-maintainers

[HOU-2020] Added Contrast Security as 5th Platinum Sponsor, updated the limits
  content/events/2020-houston/sponsor.md
  data/events/2020-houston.yml
Owners: none

Remove fsevents
  package-lock.json
  package.json
Owners: @devopsdays/build-infra

[🛠] Package update and asset regenerate (#9647)
  package-lock.json
  package.json
  themes/devopsdays-theme/static/css/site.css.map
  themes/devopsdays-theme/static/js/devopsdays-min.js.map
Owners: @devopsdays/build-infra, @devopsdays/theme-maintainers

.github/CODEOWNERS:

# This file identifies who needs to review pull requests that touch certain parts of the repo.
# Each line is a file pattern followed by one or more owners.

.gitignore  @devopsdays/build-infra
config.toml @devopsdays/code-reviewers
netlify.toml    @devopsdays/build-infra
gulpfile.js @devopsdays/build-infra
hugoserver.sh   @devopsdays/build-infra
hugoserver.ps1  @devopsdays/build-infra
package-lock.json   @devopsdays/build-infra
package.json    @devopsdays/build-infra
/data/core.toml @devopsdays/code-reviewers
/utilities/ @devopsdays/code-reviewers
/themes/devopsdays-theme/   @devopsdays/theme-maintainers
/content/page/  @devopsdays/code-reviewers
/.circleci/ @devopsdays/build-infra
/bin/   @devopsdays/build-infra
/.github/   @devopsdays/build-infra
/static/robots.txt @devopsdays/build-infra
