Repository devopsdays/devopsdays-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devopsdays/build-infra, @devopsdays/code-reviewers, @devopsdays/theme-maintainers, @ghoneycutt, @apoland, @napoleonjones

[CHI-2023] Sponsor Info Page
  content/events/2023-chicago/sponsor-info.md
Owners: none

[#10822] Remove all 2018 assets from static
  static/_redirects
  static/events/2018-boise/prospectus.pdf
  static/events/2018-boston/devopsdayssponsorprospectus2018.pdf
  static/events/2018-chattanooga/devopsdays-chattanooga-2018-prospectus.pdf
  static/events/2018-detroit/devopsdaysdetroit-prospectus-2018.pdf
  static/events/2018-kansas-city/prospectus.pdf
  static/events/2018-moscow/partner proposal devopsdays 2018.pdf
  static/events/2018-moscow/партнерское_предложение_devopsdays.pdf
  static/events/2018-philadelphia/sponsor/devopsdaysphl2018-prospectus.pdf
  static/events/2018-phoenix/devopsdays_phoenix_2018_sponsor_prospectus.pdf
  static/events/2018-raleigh/sponsorpackage-devopsdaysraleigh2018.pdf
  static/events/2018-victoria/sponsordevopsdays2018.pdf
Owners: none

[#10822] Remove all 2017 assets from static
  static/_redirects
  static/events/2017-boston/boston2017sponsorprospectus.pdf
  static/events/2017-detroit/devopsdaysdetroit-prospectus-2017.pdf
  static/events/2017-hartford/sponsor/devopsdays-hfd-2017-prospectus.pdf
  static/events/2017-moscow/sponsorship-information-devopsdays-moscow-2017.pdf
  static/events/2017-moscow/презентация-для-спонсоров-мероприятия-devopsdays-moscow-2017.pdf
  static/events/2017-philadelphia/sponsor/devopsdaysphl2017-prospectus.pdf
  static/events/2017-vancouver/guide.pdf
  static/events/2017-vancouver/sponsordevopsdays2017.pdf
Owners: none

[#10822] Remove all 2016 assets from static
  static/_redirects
  static/events/2016-chicago/devopsdays-chicago-2016-prospectus.pdf
  static/events/2016-dallas/devopsdays_dallas_sponsor_prospectus_v0.5.pdf
  static/events/2016-kansascity/sponsorshipprospectusv2016.pdf
  static/events/2016-kiel/location/devopsdays-kiel-2016-hotel-booking.pdf
  static/events/2016-madison/devopsdays_madison_2016_prospectus.pdf
  static/events/2016-minneapolis/sponsor/devopsdaysmsp2016-prospectus.pdf
  static/events/2016-philadelphia/sponsor/devopsdaysphl2016-prospectus.pdf
  static/events/2016-raleigh/2016-raleigh-sponsor.pdf
  static/events/2016-siliconvalley/sponsorshipprospectusdodsv2016.pdf
  static/events/2016-toronto/devopsdaystorontosponsorshipprospectus2016.pdf
  static/events/2016-vancouver/guide.pdf
Owners: none

[RIO-2023] Add New Sponsors and Fix Sponsor Logo
  data/events/2023-rio-de-janeiro.yml
  data/sponsors/proxify.yml
  data/sponsors/vertigo.yml
  static/img/sponsors/proxify.png
  static/img/sponsors/vertigo.png
Owners: none

[CHI-2023] Update sponsor info page with image
  content/events/2023-chicago/sponsor-info.md
  static/events/2023-chicago/booth.png
Owners: none

[CHI-2023] Update sponsor info page with image (#12951)
  content/events/2023-chicago/sponsor-info.md
  static/events/2023-chicago/booth.png
Owners: none

[CHI-2023] Update sponsor info page
  content/events/2023-chicago/sponsor-info.md
Owners: none

Added hightechconnect as community sponsor
  data/events/2023-tampa.yml
  data/sponsors/hightechconnect.yml
  static/img/sponsors/hightechconnect.png
Owners: none

Update with evening event stuff
  content/events/2023-chicago/sponsor-info.md
Owners: none

[INDY-2023] Add speaker, Kendra Ash
  content/events/2023-indianapolis/program/kendra-ash.md
  content/events/2023-indianapolis/speakers/kendra-ash.md
  static/events/2023-indianapolis/speakers/kendra-ash.jpg
Owners: @ghoneycutt, @apoland, @napoleonjones, @devopsdays/code-reviewers

Added Women In Linux as Community Partner
  data/events/2023-tampa.yml
Owners: none

[#10822] Redirect fixes
  static/_redirects
Owners: none

[#10822] I actually think netlify will be fine with cyrillics
  static/_redirects
Owners: none

[LDN-2023] Add Kat Samperi's Ignite talk.
  content/events/2023-london/program/kat-samperi.md
  content/events/2023-london/speakers/kat-samperi.md
Owners: none

[#9690] Add redirect action
  .github/workflows/redirects.yml
Owners: @devopsdays/build-infra

[#9690] Sadly commited empty file
  .github/workflows/redirects.yml
Owners: @devopsdays/build-infra

[#9690] Point to main branch for now.
  .github/workflows/redirects.yml
Owners: @devopsdays/build-infra

[#9690] Force failure of CI to check tests
  static/_redirects
Owners: none

Don't sparse checkout for now.
  .github/workflows/redirects.yml
Owners: @devopsdays/build-infra

[DET-2023] Adding detailed sponsorship information
  content/events/2023-detroit/sponsor-registration.md
  content/events/2023-detroit/sponsor.md
  data/events/2023-detroit.yml
Owners: none

[DET-2023] Add Detroit 2023 logos to site
  content/events/2023-detroit/welcome.md
  data/events/2023-detroit.yml
  static/events/2023-detroit/logo-square.jpg
  static/events/2023-detroit/logo.png
Owners: none

[DET-2023] Add Detroit 2023 logos to site (#12959)
  content/events/2023-detroit/welcome.md
  data/events/2023-detroit.yml
  static/events/2023-detroit/logo-square.jpg
  static/events/2023-detroit/logo.png
Owners: none

Adding community sponsors
  data/events/2023-tampa.yml
  data/sponsors/tampabayai.yml
  data/sponsors/tampabayapple.yml
  data/sponsors/tampaccc.yml
  data/sponsors/tampagai.yml
  static/img/sponsors/tampabayai.png
  static/img/sponsors/tampabayapple.png
  static/img/sponsors/tampaccc.png
  static/img/sponsors/tampagai.png
Owners: none

[CHI-2023] Remove volunteer linnk
  data/events/2023-chicago.yml
Owners: none

Updated buttons on location and sponsorship pages
  content/events/2023-tampa/location.md
  content/events/2023-tampa/sponsor.md
Owners: none

[CHI-2023] Remove volunteer linnk (#12961)
  data/events/2023-chicago.yml
Owners: none

[DET 2023] Adding Platinum sponsor option
  content/events/2023-detroit/sponsor.md
  data/events/2023-detroit.yml
Owners: none

Added Tampa Java User Group
  data/events/2023-tampa.yml
  data/sponsors/tampajug.yml
  static/img/sponsors/tampajug.png
Owners: none

[CHI-2023] Add Spot by netapp
  data/events/2023-chicago.yml
Owners: none

[CHI-2023] Add Spot by netapp (#12964)
  data/events/2023-chicago.yml
Owners: none

feat: added registration madrid
  content/events/2023-madrid/registration.md
  data/events/2023-madrid.yml
Owners: none

feat: added registration link
  data/events/2023-madrid.yml
Owners: none

[MAD-2023] registration link (#12966)
  content/events/2023-madrid/registration.md
  data/events/2023-madrid.yml
Owners: none

[CAI-23] Adding Giza Systems
  data/events/2023-cairo.yml
Owners: none

[CAI-23] Updating sponsor logo
  static/img/sponsors/gizasystems.png
Owners: none

[CAI-23] Updating Giza systems sponsor logo
  static/img/sponsors/gizasystems.png
Owners: none

[CHI-2023] Add Tj Randall as speaker
  content/events/2023-chicago/program/tj-randall.md
  content/events/2023-chicago/speakers/tj-randall.md
  data/events/2023-chicago.yml
  static/events/2023-chicago/speakers/sean-carolan.jpg
  static/events/2023-chicago/speakers/tj-randall.jpg
Owners: none

Update TJ images
  content/events/2023-chicago/program/tj-randall.md
  content/events/2023-chicago/speakers/tj-randall.md
  static/events/2023-chicago/sharing/sean-carolan.png
  static/events/2023-chicago/sharing/tj-randall.png
Owners: none

Add TJ links
  content/events/2023-chicago/speakers/tj-randall.md
Owners: none

.github/CODEOWNERS:

# This file identifies who needs to review pull requests that touch certain parts of the repo.
# Each line is a file pattern followed by one or more owners.

.gitignore  @devopsdays/build-infra
config.toml @devopsdays/code-reviewers
netlify.toml    @devopsdays/build-infra
gulpfile.js @devopsdays/build-infra
hugoserver.sh   @devopsdays/build-infra
hugoserver.ps1  @devopsdays/build-infra
package-lock.json   @devopsdays/build-infra
package.json    @devopsdays/build-infra
/data/core.toml @devopsdays/code-reviewers
/utilities/ @devopsdays/code-reviewers
/themes/devopsdays-theme/   @devopsdays/theme-maintainers
/content/page/  @devopsdays/code-reviewers
/.circleci/ @devopsdays/build-infra
/bin/   @devopsdays/build-infra
/.github/   @devopsdays/build-infra
/static/robots.txt @devopsdays/build-infra
/data/events/2023-indianapolis.yml @ghoneycutt @apoland @napoleonjones @devopsdays/code-reviewers
/content/events/2023-indianapolis/ @ghoneycutt @apoland @napoleonjones @devopsdays/code-reviewers
